<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <a href="/">← Back To Home</a>



          <h1 align="center"> Easy Tasty Recipes</h1>
          <table style="width:100%">
            <tr>
              <th>Ingredients</th>
              <th>Preatation</th>
            </tr>

              <tr>
                <H3>Garlic Shrip Scampi</H3>
                <td>for 2 servings,
                  1 lb potato,
                  olive oil to taste,
                  salt to taste,
                  pepper to taste,
                  3 tablespoons lemon juice,
                  2 cloves garlic, minced,
                  ½ teaspoon onion powder,
                  ½ teaspoon paprika,
                  ½ teaspoon dried thyme,
                  ½ teaspoon dried parsley,
                  2 tablespoons honey,
                  2 salmon fillets,
                  1 bunch asparagus,
                  6 slices lemon,
                  4 sprigs fresh thym</td>

                <td>Heat the pot over medium heat.
                  Melt the butter in the pot.
                  Cook the garlic until it starts to brown.
                  Add the shrimp, salt, and pepper, cooking until shrimp is pink all the way through.
                  Add the lemon juice, chili flakes, and parsley.
                  Add the spaghetti, and toss until evenly coated.
                </td>
              </tr>
         

            
        </div>
      </div>
    </div>
  </div>
  
</div>