<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"></h5>
        
          <h1> <strong>: {{recipes.name}}</strong></h1>
          
          <p>
            <strong>Text</strong>: {{recipes.text}}</p>
          <p>
            <strong>Description:</strong> {{recipes.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

