.list-group-item {
  line-height: 2.5;
}

/* Color Theme Swatches in Hex */
.fruits-unsplash-1-hex { color: #FD5F34; }
.fruits-unsplash-2-hex { color: #F2F2F2; }
.fruits-unsplash-3-hex { color: #F28705; }
.fruits-unsplash-4-hex { color: #FCA85E; }
.fruits-unsplash-5-hex { color: #D0D39F; }

/* Color Theme Swatches in RGBA */
.fruits-unsplash-1-rgba { color: rgba(253, 95, 52, 1); }
.fruits-unsplash-2-rgba { color: rgba(242, 242, 242, 1); }
.fruits-unsplash-3-rgba { color: rgba(242, 135, 5, 1); }
.fruits-unsplash-4-rgba { color: rgba(252, 168, 94, 1); }
.fruits-unsplash-5-rgba { color: rgba(208, 211, 159, 1); }

/* Color Theme Swatches in HSLA */
.fruits-unsplash-1-hsla { color: hsla(12, 98, 59, 1); }
.fruits-unsplash-2-hsla { color: hsla(0, 0, 94, 1); }
.fruits-unsplash-3-hsla { color: hsla(32, 95, 48, 1); }
.fruits-unsplash-4-hsla { color: hsla(28, 96, 67, 1); }
.fruits-unsplash-5-hsla { color: hsla(63, 37, 72, 1); }




